{%extends 'navigation.html'%}
{%block Aaju%}
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 shadow-lg p-4">
        <form action="/new" method="post">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6 col-md-6">
                    <label>Bike Model Name</label>
                    <input type="text" name="bikemodel" placeholder="Bike model" class="form-control"/>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <label>Bike Name</label>
                    <input type="text" name="bikename" placeholder="Bike name" class="form-control"/>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6 col-md-6">
                    <label>Registration Number</label>
                    <input type="text" name="regno" placeholder="Regno" class="form-control"/>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <label>Bike Cc</label>
                    <input type="text" name="cc" placeholder="Bike CC" class="form-control"/>
                </div>
            </div>
            <div class="form group">
                <label>Bike type</label>
                <input type="text" name="type" placeholder="Bike type" class="form-control" />
            </div>
            <div class="form group">
                <label>Bike Stock</label>
                <input type="text" name="stock" placeholder="Bike Stock" class="form-control" />
            </div>
            <div class="form group">
                <label>Bike Price</label>
                <input type="text" name="price" placeholder="Bike  price" class="form-control" />
            </div>
            <div class="row mt-5 justify-content-evenly">
                <button type="submit" class="btn btn-outline-primary rounded-pill col-2">
                    <!-- <h2 class="bi bi-database-fill-add"></h2> -->
                    <h2 class="bi bi-journal-arrow-up"></h2>
                </button>
                <button type="reset" class="btn btn-outline-info rounded-pill col-2">
                    <!-- <h2 class="bi bi-x-circle-fill"></h2> -->
                    <h2 class="bi bi-x-octagon-fill"></h2>
                </button> 
            </div>
        </form>
    </div>
{%endblock%}